
.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.section h1 {
    color: rgb(43, 42, 41); 
    background-color: rgb(238, 204, 154); 
    padding: 0.1rem 1rem;  
    display: inline-block; 
    margin: 0px;
}

.section:not(:first-of-type) h1 {
    text-align: center;
}

.project-box {
    padding: 16px;
    border: 5px solid rgb(238, 204, 154);
    margin: 15px;
    max-width: 600px;
    min-width: 400px;
    min-height: 1000px;
    flex-wrap: wrap-reverse;
    overflow:hidden
}

.project-box img {
    max-width: 100%;
    height: auto;
}


.project-box {
    padding: 15px;
    border: 5px solid rgb(238, 204, 154);
    margin: 15px;
    max-width: 500px;
    min-width: 400px;
    flex-wrap: wrap;
    overflow:hidden
} 

.project-box img {
    max-width: 100%;
    height: auto;
}

.container-center {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    text-align: left;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    text-align: left;
}

.container-center h1 {
    text-align: center;
}