body {
    font-family: 'PixelFont', sans-serif;  
    font-size: x-large;
    color: rgb(238, 204, 154); 
    background-color: rgb(43, 42, 41); 
    margin: 15px;
}



@font-face {
    font-family: 'PixelFont';
    src: url('font/ByteBounce.woff2') format('woff2'),
         url('font/ByteBounce.woff') format('woff'),
         url('font/ByteBounce.ttf') format('truetype');
    font-weight: normal;       
    font-style: normal;
}



